<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление клиентами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<a role="button" class="btn btn-primary btn-lg" href="/add_client">Заключить новый договор</a>

<div class="mb-3">
    <label for="account-id" class="form-label">Поиск счёта по номеру</label>
    <div class="input-group">
        <input type="text" class="form-control" id="account-id" aria-describedby="button-account-go">
        <button class="btn btn-outline-secondary" type="button" id="button-account-go">Перейти</button>
    </div>
<!--    <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>-->
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Лицо</th>
        <th scope="col">Имя/наименование</th>
        <th scope="col">Идентификатор</th>
        <th scope="col">Регион</th>
        <th scope="col">Телефон</th>
        <th scope="col">E-mail</th>
        <th scope="col">Счета</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:text="${client}"/>
        <td th:text="${client.getName()}"/>
        <td th:text="${client.getId()}"/>
        <td th:text="${client.getRegion()}"/>
        <td th:text="${client.getContactPhone()}"/>
        <td th:text="${client.getEmail()}"/>
        <td th:text="${client.getAccounts()}"/>
    </tr>
    </tbody>
</table>

</body>
</html>