<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуга</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
                background-color: #f0f8f0;
        }
            .main-body {
                padding-top: 30px;
                padding-left: 120px;
                padding-right: 120px;
                padding-bottom: 150px;
                background-color: #f0f8f0; /* Основной фон - светло-зеленый */
                color: #004d00; /* Цвет текста - темно-зеленый */
            }
            .fixed-bottom {
                background-color: #2f4f4f;
                color: #ffffff;
                padding: 20px;
                padding-left: 120px;
            }
            .title {
                text-align: center;
            }
            .ref {
                color: #004d00;
            }
            .ref-foot {
                color: #ffffff;
            }
    </style>
</head>
<body>

<div th:replace="general_elements :: page-header"></div>

<div class="main-body">

    <a role="button" class="btn btn-outline-secondary" href="/services"><< Назад</a>
    <div class="row mt-4">
        <h1 class="title">Просмотр услуги</h1>
    </div>
    <div class="list-group">
        <form method="post" th:action="@{/updateService}" th:object="${service}">
            <input type="hidden" th:field="*{service_id}"/>
            <div class="mb-3">
                <label for="name" class="form-label">Название услуги</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" disabled>
            </div>
            <div class="mb-3">
                <label for="subscription-type" class="form-label">Тип абонентской платы</label> <br>
                <select id="subscription-type" name="subscription-type" th:field="*{subscription_type}"
                        th:value="${service.getSubscription_type().value()}" disabled>
                    <option th:each="type : ${T(cmc.sp.webprac.enums.SubscriptionType).values()}"
                            th:value="${type}" th:text="${type.value()}"></option>
                </select>

            </div>
            <div class="mb-3">
                <label for="activation-fee" class="form-label">Стоимость подключения</label>
                <input type="text" class="form-control" id="activation-fee" th:field="*{activation_fee}"
                       th:value="${service.getActivation_fee()}" disabled>
            </div>
            <div class="mb-3">
                <label for="subscription-fee" class="form-label">Стоимость а/п</label>
                <input type="text" class="form-control" id="subscription-fee" th:field="*{subscription_fee}"
                       th:value="${service.getSubscription_fee()}" disabled>
            </div>
            <div class="mb-3">
                <label for="deactivation-fee" class="form-label">Стоимость отключения</label>
                <input type="text" class="form-control" id="deactivation-fee" th:field="*{deactivation_fee}"
                       th:value="${service.getDeactivation_fee()}" disabled>
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Продолжительность</label>
                <input type="text" class="form-control" id="duration" th:field="*{duration}"
                       th:value="${service.getDuration()}" disabled>
            </div>
            <div class="mb-3">
                <label for="package-phone" class="form-label">Пакет мобильной связи (мин)</label>
                <input type="text" class="form-control" id="package-phone" th:field="*{package_phone}"
                       th:value="${service.getPackage_phone()}" disabled>
            </div>
            <div class="mb-3">
                <label for="package-internet" class="form-label">Пакет интернета (ГБ)</label>
                <input type="text" class="form-control" id="package-internet" th:field="*{package_internet}"
                       th:value="${service.getPackage_internet()}" disabled>
            </div>
            <div class="mb-3">
                <label for="package-message" class="form-label">Пакет СМС</label>
                <input type="text" class="form-control" id="package-message" th:field="*{package_message}"
                       th:value="${service.getPackage_message()}" disabled>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <input type="text" class="form-control" id="description" th:field="*{description}"
                       th:value="${service.getDescription()}" disabled>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success" id="save-button" disabled>Сохранить</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary" id="edit-button">Редактировать</button>
                </div>
                <div class="col">
                    <a role="button" class="btn btn-outline-danger" id="remove-button"
                       th:href="'/remove_service?service_id=' + ${service.getService_id()}">
                        Удалить
                    </a>
                </div>
            </div>
        </form>
    </div>


    <script>
        document.getElementById('edit-button').addEventListener('click', function() {
        var inputFields = document.getElementsByClassName('form-control');
        for (var i = 0; i < inputFields.length; i++) {
          inputFields[i].disabled = false;
        }
        document.getElementById('save-button').disabled = false;
        document.getElementById('subscription-type').disabled = false;
      });
    </script>
</div>

<div th:replace="general_elements :: page-footer"></div>
</body>
</html>